@use 'variaveis';

.header {
    position: sticky;
    padding: 15px 20px;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background-color .5s ease;
    background-color: variaveis.$corDeFundoSecundaria;
    color: #000;
    font-family: "Pirata One", system-ui;

    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            padding: 0 12px 0 12px;
        }
    }

    &__links {
        display: flex;

        &__item {
            margin: 5px;
            transition: opacity .5s ease;
            padding-top: 12px;

            a {
                text-decoration: none;
                color: variaveis.$corTextoPrincipal;
                font-family: "Bebas Neue", sans-serif;
            }
        }
    }
}